.wordCard{
    width:21%;
    max-width: 21%;
    height:100px;
    max-height: 200px;
    margin:2%;
    float: left;
    text-align: center;
}

.wordCardContent{
    width:21%;
    max-width: 21%;
    height:100px;
    max-height: 200px;
    margin:2%;
    float: left;
    text-align: center;
}


.gameZone{
    margin: 0;
    width:90%;
    max-width: 90%;
    height: 100%;
}

.wordCardRow{
    width:90%;
    margin:0 auto;
}

.cardHide{
    display: none;
}

.buttonHide{
    float:left;
}


.output{
    margin: 0;
    width:90%;
    max-width: 90%;
    }

.outputHide{
    display: none;
    }
    

.gameZoneHide{
    display: none;
}